body{

    background-color: #222;
    text-transform: uppercase;
}

h1, h2, h3{

    cursor: pointer;
}

.certo{

    color: greenyellow;
    
}

.errado{

    color: red;
}

#sequencia{

    letter-spacing: 5px;
}